{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn DJANGO</title>
    <link rel="stylesheet" href="{% static 'polls/main.css' %}">
</head>
<body style="margin: 0; padding: 0;">
    <header style="background-color: aqua; margin: 0;padding: 0; height: 60px;">
        <div style="display: flex; justify-content: space-between; padding: 0 30px;">
            <h3 style="text-align: end; padding-right: 20px;">
                <span class="title">Learn DJANGO</span>
            </h3>
            <h3 style="text-align: end; padding-right: 20px;">
                <span >{{user}}</span>
            </h3>
        </div>
    </header>
    <div class="sidebar">
        <ul>
            <li><a href="{% url 'polls:home' %}"><h3>Home</h3></a></li>
            <li><a href="{% url 'polls:add_student' %}"><h3>Add student</h3></a></li>
            <li><a href="{% url 'polls:search_student' %}"><h3>Search student</h3></a></li>
            <li><a href= "{% url 'polls:logout' %}"><h3>log out</h3></a></li>
        </ul>
    </div>
    <div class="main" style="margin-left: 250px; margin-top: 10px;">
        {% block layout %}
    
        {% endblock %}
    </div>
</body>
</html>