{% extends "./index.html" %}
{% load static %}
{% block layout %}

<link rel="stylesheet" href="{% static 'polls/form.css' %}">
<h3 style="text-align: center;">EIDT FORM</h3>

<div>
  <form action="" method="POST">
    {% csrf_token %}    
    <label for="fname">First Name</label>
    {{ form.first_name }}

    <label for="lname">Last Name</label>
    {{ form.last_name }}


    <label for="lname">Age</label>
    {{ form.age }}

    <!-- <label for="lname">Male</label>
    <input type="radio" id="sex" name="sex" checked value="male">

    <label for="lname">Female</label>
    <input type="radio" id="sex" name="sex" value="female"> -->

    <button>UPDATE</button>
  </form>
</div>
{% endblock %}